<html>

<head>
    <title>Flask-SocketIO-Chat: {{ room }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function () {
                socket.emit('joined', {});
            });
            socket.on('status', function (data) {
                $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function (data) {
                alert(JSON.stringify(data))
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');

                    let message = {
                        msg: text,
                        meta: imageStats(text)
                    }

                    socket.emit('text', message);
                }
            });
        });

        function imageStats(url) {
            var xhttp = new XMLHttpRequest();

            let request = {
                "inputs": [{
                    "data": {
                        "image": {
                            "url": url
                        }
                    }
                }]
            };

            // Clarifai URL API
            xhttp.open("POST", "https://api.clarifai.com/v2/models/d16f390eb32cad478c7ae150069bd2c6/outputs", false);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.setRequestHeader("Authorization", "Key d722ad290d6a46619e0f38cf287fcd0a");
            xhttp.send(JSON.stringify(request));

            var response = JSON.parse(xhttp.responseText);
            let output = response.outputs[0];
            let concepts = output.data.concepts;

            return concepts;
        }

        function leave_room() {
            socket.emit('left', {}, function () {
                socket.disconnect();

                // go back to the login page
                window.location.href = "{{ url_for('main.index') }}";
            });
        }
    </script>
</head>

<body>
    <h1>Awesome Chat: {{ room }}</h1>
    <textarea id="chat" cols="80" rows="20"></textarea>
    <br>
    <br>
    <input id="text" size="80" placeholder="Enter your message here">
    <br>
    <br>
    <a href="#" onclick="leave_room();">Leave this room</a>
</body>

</html>
